.pagina-contato {

    text-align: center;

    .icone {

        width: 80px;

    }

    .voltar {

        font-size: 32px;
        color: #000;

    }

    .title {

        color: #494;

    }


}